* {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    display: inline-block;
    margin: 0 10px;

}

nav>ul {
    margin-left: 40%;
}

nav>ul>li>a {
    text-decoration: none;
    color: white;
    transition: ease-in-out 0.3s;
}

nav {
    background-color: black;
    padding: 30px 0;
}

nav>ul>li>a:hover {
    color: black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;

}



.layout {
    display: flex;
    flex-direction: row;

    background-color: #f2f2f2;
    padding: 30px;

}

.blog {
    max-width: 1000px;
}

.blog>.blog_header {
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(58, 58, 255);

}

.blog>.blog_text {
    font-size: 15px;
    text-align: justify;




}

.blog>.blog_text::first-letter {
    font-size: 30px;
    color: rgb(58, 58, 255);
    margin-right: 10px;
    float: left;

}

.sidebar {
    margin-left: 20px;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.sidebar>.sidebar_header {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(58, 58, 255);

}

.foo {
    display: flex;
    text-align: left;
    justify-content: space-around;
    align-items: start;
    flex-direction: row;
    padding: 20px 0;
    background-color: black;
    color: white;

}

.foo>div>p:hover {
    letter-spacing: 2px;
    cursor: pointer;

}

.foo>div>p {
    transition: ease-in-out 0.3s;
}

.icon {
    color: white;
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .sidebar {
        margin-left: 0;
        margin-top: 20px;
    }

    nav>ul {
        margin-left: 20px;
    }

    nav>ul>li {
        display: none;
        margin: 10px 0;
    }

    .icon {
        visibility: visible;
        font-size: 30px;
        margin-left: 20px;
    }

    .foo {
        flex-direction: column;
    }

    .foo>div {
        margin-bottom: 20px;
        margin-left: 20px;
    }

}